DB_URL=jdbc:postgresql://localhost:5432/portfolio_db
DB_USERNAME=postgres
DB_PASSWORD=2425779
SERVER_PORT=8081

JWT_SECRET=ZmFrZVNlY3JldFRvQmVSZXBsYWNlZFdpdGhBbjMyQnl0ZUtleQ==
JWT_EXPIRATION_MS=86400000

MAIL_ENABLED=false
MAIL_TO=amarwade927@gmail.com
MAIL_FROM=noreply@portfolio.local
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=amarwade927@gmail.com
MAIL_PASSWORD=loezhszzistlqhdt
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true

DDL_AUTO=validate
SHOW_SQL=false
